<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template}">

<div layout:fragment="container" id="objects">
    <h2>
        Objects in bucket: [[${@environment.getProperty('app.s3-bucket-name')}]]
    </h2>
    <form id="upload-files-form" enctype="multipart/form-data" >
        <div class="card">
            <div class="card-header"><h3>Upload files</h3></div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label required">Select File (multiple supported)</label>
                    <input type="file" multiple class="form-control required" id="uploaded-file" name="files" />
                </div>
            </div>
            <div class="card-footer">
                <button v-if="!uploadingFiles" type="button" class="btn btn-success"
                        @click.prevent="submitForm()">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use th:xlink:href="@{/css/bootstrap-icons.svg#cloud-upload}"/>
                    </svg>&nbsp;Upload files
                </button>
                <button v-else type="button" class="btn btn-success disabled" v-cloak>
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use th:xlink:href="@{/css/bootstrap-icons.svg#arrow-repeat}"/>
                    </svg>&nbsp;Uploading files...
                </button>
            </div>
        </div>
    </form>
    <div>&nbsp;</div>
    <div class="alert alert-info" v-if="loadingObjects">
        Loading the S3 objects...
    </div>
    <div class="alert alert-danger" v-else-if="errorLoadingObjects" v-cloak>
        Error occurred when loading the S3 objects.
    </div>
    <div class="alert alert-info" v-else-if="_.isEmpty(versions)" v-cloak>
        There are no objects in your bucket.
    </div>
    <table v-else v-cloak class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Version Id</td>
                <td>Type</td>
                <td>Last Modified</td>
                <td>Size</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <template v-for="(ver,key) in versions">
                <tr>
                    <td colspan="5">{{key}}</td>
                    <td>
                        <a href="javascript:void(0);" @click="deleteObject(key)"
                            title="Delete Object">
                            <svg class="bi text-danger" width="16" height="16" fill="currentColor">
                                <use th:xlink:href="@{/css/bootstrap-icons.svg#trash}"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr v-for="obj in ver">
                    <!--<td>
                        <input class="form-check-input me-1" type="checkbox"
                               v-model="selectedObjectsToDelete" :value="obj.key"/>
                    </td>-->
                    <td>
                        <a v-if="!obj.deleteMarker" class="ms-2"
                           :href="'/api/objects/'+obj.key+'/versions/'+obj.versionId + '/presigned'">
                            {{obj.key}}
                        </a>
                        <span v-else class="ms-2">
                            {{obj.key}}
                        </span>
                    </td>
                    <td>
                        {{obj.versionId}}&nbsp;
                        <span v-if="obj.latest" title="Latest Version">
                            <svg class="bi text-success" width="16" height="16" fill="currentColor">
                                <use th:xlink:href="@{/css/bootstrap-icons.svg#check-circle}"/>
                            </svg>&nbsp;
                        </span>
                    </td>
                    <td>
                        <template v-if="obj.deleteMarker">
                            Delete Marker
                        </template>
                    </td>
                    <td>{{obj.lastModified}}</td>
                    <td>{{obj.size}}</td>
                    <td>
                        <a href="javascript:void(0);" @click="deleteObjectVersion(obj.key, obj.versionId)"
                            title="Delete Object Version">
                            <svg class="bi text-danger" width="16" height="16" fill="currentColor">
                                <use th:xlink:href="@{/css/bootstrap-icons.svg#trash}"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
    <!--<button v-if="hasMoreObjects" class="btn btn-primary" @click="loadObjects()">
        <template v-if="loadingObjects">Loading Objects..</template>
        <template v-else>Load More</template>
    </button>-->

</div>
<th:block layout:fragment="scripts">

    <script type="text/javascript">
        $(function(){
            new Vue({
                el: "#objects",
                data:{
                    uploadingFiles: false,
                    versions:{},
                    objects: [],
                    loadingObjects: false,
                    errorLoadingObjects: false,
                    markerKey: '',
                    pageSize: 5,
                    hasMoreObjects: true,
                    selectedObjectsToDelete: [],
                    selectedVersionsToDelete: []
                },
                methods: {
                    submitForm: function(){
                        $("#upload-files-form").submit();
                    },
                    loadObjectVersions: function(){
                        this.errorLoadingObjects = false;
                        this.loadingObjects = true;
                        var that = this;
                        $.getJSON('/api/objects/', function(data){
                            that.versions = data;
                            that.loadingObjects = false;
                        }).fail(function(){
                            that.errorLoadingObjects = true;
                            that.loadingObjects = false;
                        });
                    },
                    loadObjects: function(newLoad){
                        this.errorLoadingObjects = false;
                        this.loadingObjects = true;
                        var params = {
                            markerKey: this.markerKey,
                            size: this.pageSize
                        }
                        var that = this;
                        $.getJSON('/api/objects/paginated', params, function(data){
                            if ( newLoad){
                                that.objects = data.objects;
                            }else{
                                that.objects = that.objects.concat(data.objects);
                            }
                            that.markerKey = data.markerKey;
                            that.hasMoreObjects = data.truncated;
                            that.loadingObjects = false;
                        }).fail(function(){
                            that.errorLoadingObjects = true;
                            that.loadingObjects = false;
                        });
                    },
                    deleteObjectVersion: function(key,versionId){
                        var reply = confirm("Do you want to continue with deleting the object version?");
                        if ( !reply ){ return; }

                        var that = this;
                        $.ajax({
                            method: "DELETE",
                            url: "/api/objects/" + key + '/versions/' + versionId,
                            success: function(){
                                toastr['success']("Success", "Successfully delete the object version");
                                //reload the data
                                that.loadObjectVersions();
                            },
                            error: function (){
                                toastr['error']("Error", "Unable to delete the object version");
                            }
                        })
                    },
                    deleteObject: function(key){
                        var reply = confirm("Do you want to continue with deleting the object?");
                        if ( reply){
                            var that = this;
                            $.ajax({
                                method: "DELETE",
                                url: "/api/objects/" + key,
                                success: function(){
                                    toastr['success']("Success", "Successfully delete the object");
                                    //reload the data
                                    that.loadObjectVersions();

                                },
                                error: function (){
                                    toastr['error']("Error", "Unable to delete the object");
                                }
                            })
                        }
                    },
                    deleteSelectedObjects: function(){
                        var response = confirm("Do you want to delete the selected objects?");
                        if ( response){
                            var that = this;
                            $.ajax({
                                method: "DELETE",
                                url: "/api/objects/",
                                contentType: 'application/json',
                                data: JSON.stringify(that.selectedObjectsToDelete),
                                success: function(){
                                    toastr['success']("Success", "Successfully deleted the selected objects");
                                    that.selectedObjectsToDelete = [];
                                    that.loadObjectVersions();
                                },
                                error: function (){
                                    toastr['error']("Error", "Unable to delete the selected objects");
                                }
                            })
                        }
                    }
                },
                created: function(){
                    this.loadObjectVersions();
                },
                mounted: function (){
                    var that = this;
                    $("#upload-files-form").submit(function(){
                        that.uploadingFiles = true;
                        $(this).ajaxSubmit({
                            beforeSubmit: function (){
                                var formValidity = $('#upload-files-form').valid();
                                if ( !formValidity){
                                    that.uploadingFiles = false;
                                }
                                return formValidity;
                            },
                            success: function(response){
                                that.uploadingFiles = false;
                                that.loadObjectVersions();
                                toastr['success']("Success", "Successfully uploaded the files");
                            },
                            error: function(response){
                                that.uploadingFiles = false;
                                toastr['error']('Error', response.responseJSON.message);
                            },
                            url: '/api/objects/upload',
                            type: 'POST'
                        });
                        return false;
                    });
                }
            });
        });
    </script>

</th:block>
</html>